<header class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>
  </nav>

  <img src="assets/AA_Times_Logo.png" alt="App Academy Times" class="logo">

  <ul class="masthead-links">
    <li><time>Tuesday, October 18, 2016</time></li>
    <li><i class="far fa-newspaper"></i><a href="#">Today’s Paper</a></li>
    <li><i class="fas fa-video"></i><a href="#">Video</a></li>
    <li><a href="#">77°F</a></li>
    <li><a href="#">AAO <strong>+100%</strong></a></li>
  </ul>
</header>