.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-nav > ul > li {
  font-family: $sans-serif;
  font-weight: bold;
	text-transform: uppercase;
  font-size: 14px;
}

.right-nav > ul > li {
  font-family: $sans-serif;
  font-weight: bold;
	text-transform: uppercase;
  font-size: 14px;
  padding: 0 2px;
}

.right-nav > ul > li:last-of-type {
  font-size: 16px;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  color: $light-gray;
  span, i {
    color: $light-gray;
  }
}

.left-nav span {
  padding: 0 30px 0 10px;
}


.right-nav i {
  padding-left: 7px;
}